[submodule "TensorRT"]
	path = TensorRT
	url = https://github.com/NVIDIA/TensorRT.git
	branch = main
[submodule "onnxruntime"]
	path = onnxruntime
	url = https://github.com/microsoft/onnxruntime.git
	branch = master
